<div class="chat-layout">
  <app-chat-sidebar
    [groups]="groups"
    [conversations]="conversations"
    (tabChange)="onTabChange($event)"
    (selectChat)="onChatSelected($event)"
    (presenceChange)="onPresenceChange()"
  ></app-chat-sidebar>

  @if (currentTab === 'CHAT') {
    <app-direct-chat
      [activeChat]="activeDirectChat"
      (groupAction)="onGroupAction($event)"
    ></app-direct-chat>
  }

  @if (currentTab === 'GROUPS') {
    <app-group-chat
      [activeChat]="activeGroupChat"
      (groupAction)="onGroupAction($event)"
    ></app-group-chat>
  }

  @if (currentTab === 'AI COACH') {
    <app-ai-chat></app-ai-chat>
  }

  @if (currentTab === 'NOTIFICATIONS') {
    <app-notifications></app-notifications>
  }
</div>
